.banner {
  font-size: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: round;
  height: 50vh;
}

.slide {
  height: 40vh;
  overflow: hidden;
}
@media screen and (max-width: 1408px) {
  .banner {
    font-size: 40px;
  }
}
